.header {
    color: #fafbfc;
    background-color: #24292e;
    width: 100%;

    & > h1 {
        margin: 0;
        padding: 0.6rem 1rem;
        text-align: center;
        font-size: 1.5rem;
    }
}
