.form {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 1rem 0;

    & > input {
        margin-right: 1rem;
        padding: 0.6rem 1rem;
        font-family: Rubik, sans-serif;
        flex-grow: 1;
        max-width: 300px;
    }

    & > button {
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 0.6rem 1rem;
        width: 150px;
        font-family: Rubik, sans-serif;
        font-weight: bold;
        letter-spacing: 1px;
        color: white;
        background-color: rgb(44, 151, 75);
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: rgb(42, 143, 71);
        }
    }
}

@media screen and (max-width: 600px) {
    .form {
        flex-flow: column nowrap;

        & > input {
            margin: 0.6rem 0 1rem 0;
            width: 100%;
            max-width: 500px;
        }

        & > button {
            align-self: flex-end;
        }
    }
}
